# =========================
# Flutter / Dart
# =========================
.dart_tool/
.packages
.pub/
.pub-cache/
build/
flutter_*.png
.flutter-plugins
.flutter-plugins-dependencies

# =========================
# IDEs
# =========================
.idea/
.vscode/
*.iml

# VS Code specific (keep settings if you want)
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json

# =========================
# Android
# =========================
android/.gradle/
android/local.properties
android/key.properties
android/**/GeneratedPluginRegistrant.java

# APK / AAB outputs
*.apk
*.aab

# =========================
# iOS / macOS
# =========================
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/App.framework
ios/Flutter/ephemeral/
ios/Runner/GeneratedPluginRegistrant.*
ios/Runner.xcworkspace

macos/Pods/
macos/Flutter/ephemeral/

# =========================
# Web
# =========================
web/.dart_tool/
web/build/

# =========================
# Windows
# =========================
windows/flutter/ephemeral/

# =========================
# Linux
# =========================
linux/flutter/ephemeral/

# =========================
# Secrets / Env
# =========================
.env
.env.*
*.keystore
*.jks
*.pem
*.p12

# =========================
# Logs & Temp
# =========================
*.log
*.tmp
*.swp
*.bak

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
desktop.ini

*.env
lib/env/env.g.dart
